.btnAction {
  padding: 0.75rem 2rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bolder;
  margin-right: 1rem;
  transition: 300ms;
}

.btnAction:hover {
  background-color: #637d79;
  cursor: pointer;
}
