.footerCont{
    height: 570px;
    width: 100%;
    background-color:#bfd3c7;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: -2.2rem;
}

.footerContH2{
    color: #637c78;
    font-size: 2.6rem;
}

h2,p{
    color: white;
}

.footerContOne,.footerContTwo,.footerContThree{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.socialNetwork{
    display: flex;
    justify-content: start;
    gap: 1rem;

}


/**********************************MEDIA QUERIES ***********************************/
/**********************************MEDIA QUERIES ***********************************/
/**********************************MEDIA QUERIES ***********************************/

@media (max-width: 1200px) {
    .footerCont{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem;
        margin-bottom: -2.5rem;

    }

    .footerContOne h2, .footerContTwo h2, .footerContThree h2{
        margin-top: 2rem;
    }

  }