.container{
    width: 100%;
   display: flex;
    justify-content: space-between;
    margin-top: 5rem;

}

.container .text {
    text-align: left;
}

.container .text p {
    margin: 1rem;
}



.mapsCnt{
    height: 400px;
    width: 820px;
    background-color: blue;
}


/* ******************************** MEDIA QUERIES ************************************/
/* ******************************** MEDIA QUERIES ************************************/
/* ******************************** MEDIA QUERIES ************************************/


@media(max-width:900px){
    .container{
        flex-direction: column;
    
    }

    .mapsCnt{
        height: 400px;
        width: 50%;
        background-color: blue;
        margin-top: 2rem;
    }
}