.container{
    width: 100%;
   display: flex;
    justify-content: space-between;
    margin-top: 5rem;

}

.container .text {
    text-align: left;
}

.container .text p {
    margin: 1rem;
}



.mapsCnt{
    height: 400px;
    width: 820px;
    background-color: blue;
}

